# Dependencies
node_modules/

# Build output
dist/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Logs
*.log
npm-debug.log*

# Optional npm cache
.npm

# Optional eslint cache
.eslintcache
/env-variables.js
